* @tech4life-beyond/owners @tech4life-beyond/architects
/license/ @tech4life-beyond/owners @tech4life-beyond/architects
/templates/ @tech4life-beyond/owners @tech4life-beyond/architects
/tools/ @tech4life-beyond/owners @tech4life-beyond/architects
